<h1>This is about!</h1>
<p>Hey, how are you doing? This is about this site.</p>
<br>
<p>Please keep in mind this is just for demo purposes only!</p>
<br>
<hr />
<h2>Other pages:</h2>
<ul>
  <li>
    <%= link_to 'Back to homepage', root_path %>
  </li>
  <li>

  </li>
</ul>
