<h1>Welcome to my homepage!</h1>
<p>Hey, how are you doing?</p>
<br>
<p>Please keep in mind this is just for demo purposes only!</p>
<br>
<hr />
<h2>Other pages:</h2>
<ul>
  <li>
    <%= link_to 'The About Page', about_path %>
  </li>
  <li>

  </li>
</ul>
